html, body {
  height: 100%;
  width: 100%;
}

#banner {
  background-color: #d73f09;
  height: 128px;
}

#footer {
  background-color: black;
  height: 256px;
}

body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
